* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    border: 1px solid teal;
    margin: 8px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }

  .card.is-flipped {
    transform: rotateY(180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
  }

  .card__face--front {
    /* background: red; */
    padding-top: 8px;
  }

  .card__face--front img {
    height: 190px;
    width: 190px;
    /* filter: drop-shadow(10px 5px 4px #4444dd); */
  }
  
  .card__face--back {
    background: rgb(195, 195, 236);
    transform: rotateY(180deg);
  }

/*   .grass {
    background: green;
  }

  .fire {
    background-color: red;
  }

  .water {
    box-shadow: 10px 5px 5px blue;
  }

  .bug {
    border: 2px solid chartreuse;
  }

  .normal {
    background: linear-gradient(#e66465, #9198e5);
  } */