:root {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
}

.message-text {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

nav {
    width: 400px;
}

img, nav {
    z-index: 1;
    position: relative;
    cursor: url("/images/UDocs_iPhone_Sample.png"), auto;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}