* {
    margin: 0;
    box-sizing: border-box;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
}

.figureDiv {
    margin: 6px;
    padding: 6px;
    border: 1px solid red;
    box-shadow: 3px 3px 3px black;
}

figure {
    width: 100px;
}

figcaption {
    display: flex;
    justify-content: space-between;
}

.fa-republican {
    color: red;
}

.fa-democrat {
    color: blue;
}

.fa-mitten {
    color: green;
}